* {
  margin: 0;
  padding: 0; }

.text-center {
  text-align: center; }

.form-signin {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 3fr;
  height: 100vh; }

.form-signin__form {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-flow: column; }
