@model FinPlan.Web.Areas.Account.Models.AccountFormViewModel

@{
	ViewBag.Title = "Create Account";
}

<h2>Create Account</h2>
<div asp-validation-summary="All"></div>
<form asp-controller="Account" asp-action="Create" method="post">
	<div>
		<label asp-for="Name"></label>
		<input asp-for="Name" />
	</div>
	<div>
		<label asp-for="Category"></label>
		<select asp-for="Category" asp-items="Model.Categories"></select>
	</div>
	<div>
		<label asp-for="Type"></label>
		<select asp-for="Type" asp-items="Model.Types"></select>
	</div>
	<div>
		<button type="submit">Submit</button>
	</div>
</form>
