@using FinPlan.Web.ViewComponents.Account
@model FinPlan.Web.Models.Account.AccountViewModel

@{
	ViewBag.Title = "title";
	Layout = "_Layout";
}

<h2>@Model.Account.Name</h2>
<partial name="_MessagePartial" />
<div>
	<a asp-controller="Account" asp-action="Edit" asp-route-id="@Model.Account.Id">Edit</a> | <a asp-controller="Account" asp-action="ImportBankStatement" asp-route-id="@Model.Account.Id">Import Bank Statement</a>
</div>

@if (Model.Account.Transactions.Any())
{
	@await Component.InvokeAsync(nameof(TransactionListing), new { transactions = Model.Account.Transactions, showActionButtons = true })
}
