@using FinPlan.Web.ViewComponents.Account
@model FinPlan.Web.Models.Account.ImportBankStatementViewModel

@{
	ViewBag.Title = "Import Bank Statement";
	Layout = "_Layout";
}

<h2>Import Bank Statement</h2>
<div asp-validation-summary="All"></div>
<form asp-controller="Account" asp-action="ImportBankStatement" method="post" enctype="multipart/form-data">
	<input asp-for="AccountId" type="hidden" />
	<input name="UploadedFilePath" value="@Model.UploadedFilePath" type="hidden" />
	@if (!string.IsNullOrWhiteSpace(Model.UploadedFilePath))
	{
		<input asp-for="HasConfirmedToImport" value="true" type="hidden" />
		<input asp-for="Year" type="hidden" />				
		@await Component.InvokeAsync(nameof(TransactionListing), new { transactions = Model.Transactions })
		<button type="submit">Submit</button>
	}
	else
	{
		<input asp-for="Year" />
		<input type="file" name="file" />
		<button type="submit">Submit</button>
	}
</form>