@model FinPlan.Web.ViewModels.AuthenticationFormViewModel
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="generator" content="">
    <title>FinPlan - Login</title>

    <!-- Bootstrap core CSS -->
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/signin.css" rel="stylesheet">
</head>
<body class="text-center">
    <div asp-validation-summary="All"></div>
    <form asp-controller="Account" asp-action="Login" class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input asp-for="Email" class="form-control" placeholder="Email address" required autofocus />
        <label for="inputPassword" class="sr-only">Password</label>
        <input asp-for="Password" class="form-control" placeholder="Password" required type="password"/>
        <div class="checkbox mb-3">
            <label>
                <input asp-for="RememberMe" />
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</body>
</html>
