@using FinPlan.Web.ViewComponents

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="~/favicon.ico">

	<title>FinPlan</title>

	<!-- Bootstrap core CSS -->
	@*<link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet">*@

	<!-- Custom styles for this template -->
	@*<link href="~/css/dashboard.css" rel="stylesheet">*@
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="~/css/finplan.css" rel="stylesheet" />
</head>

<body>
	<header>
		<h1>FinPlan</h1>
		<a href="@Url.Action("Logout", "Auth")">Sign out</a>
	</header>	
	<nav>
		@await Component.InvokeAsync(nameof(NavigationMenu))
	</nav>
	<main>
		@RenderBody()
	</main>

	@await RenderSectionAsync("scripts", false)
	<mini-profiler />
</body>
</html>
