@using FinPlan.Web.Utils
@if (!string.IsNullOrWhiteSpace(FlashMessage.GetMessage(TempData)))
{
	var alertTypeClassName = FlashMessage.IsError(TempData) ? "alert-danger" : "alert-success";
	<div class="alert @alertTypeClassName" role="alert">
		@FlashMessage.GetMessage(TempData)
	</div>
}
