@if (@TempData["message"] != null)
{
	var alertTypeClassName = TempData["error"] == null ? "alert-success" : "alert-danger";
	<div class="alert @alertTypeClassName" role="alert">
		@TempData["message"]
	</div>
}
